$button-transition: ease 0.2s;

$text-colour: #333333;

$font-size-copy-sm: 12px;
$font-size-copy: 18px;
$font-size-copy-md: 24px;
$font-size-copy-lg: 28px;
$font-size-heading-sm: 36px;
$font-size-heading-md: 48px;
$font-size-heading: 64px;
$font-size-heading-lg: 72px;
