$primary-colour: #00a8ff;
$secondary-colour: #40739e;
$tertiary-colour: #353b48;
$accent-colour: #8c7ae6;

$font-size-copy-sm: 14px;
$font-size-copy: 18px;
$font-size-copy-lg: 24px;
$fon-size-heading-sm: 48px;
$font-size-heading: 64px;
$font-size-heading-lg: 72px;
